{% extends 'layout.html' %}
{% block head %}

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>采购公告搜索_中国政府采购网</title>
    <link href="/static/css/style4.css" rel="stylesheet" type="text/css"/>

    <link href="/static/css/data4.css" rel="stylesheet" type="text/css"/>
    <link href="//www.ccgp.gov.cn/css/inc.css" rel="stylesheet" type="text/css"/>
    <script>
        var path = "/";
        var basePath = "//search.ccgp.gov.cn/";
        var staticPath = path + "static/";
        var dateTy = '2';
        var bidType = '';
        var bidSort = '';
        var pinMu = '';
        var searchtype = '1';
        var kw = '';
        var buyerName = '';
        var projectId = '';
        var zoneId = '';
        var displayZone = '';
        var agentName = '';
        var pppStatus = '0';
        var start_time = '2022:06:10';
        var end_time = '2022:06:17';
        var page_index = 1;

    </script>

    <script type="text/javascript" src="/static/js/jquery-3.6.0.min.js"></script>

    <script type="text/javascript" src="/static/js/data4.js"></script>
    <script type="text/javascript" src="/static/js/page.js"></script>
    <script type="text/javascript" src="/static/js/laydate/laydate.js"></script>
{% endblock %}


{% block content %}

    <div class="vT_z">
        <div style="width:100%;background:#ccc">
            <ul class="vT_search_sortby">
                <li>
                    <a href="#">{% comment %}站内资讯{% endcomment %}</a>
                </li>
                <li class="current2">采购公告</li>
                <li><a href="#">{% comment %}政策法规{% endcomment %}</a></li>
            </ul>
        </div>
    </div>

    <span class="blank37"></span>

    {% comment %}    <div class="vT_z">
        <div class="vT-srch-result-top">
            <div class="vT-srch-result-top-logo n_fl"><img
                    src="/static/images/searchplatform_bid.gif"
                    style="border:0"></div>
            <div class="vT-srch-result-top-form n_fr">
                <form name="searchForm" id="searchForm" action="//search.ccgp.gov.cn/bxsearch" method="get">
                    <input type="button" value="搜标题" id="doSearch1"
                           style="font-size:14px;font-weight:bolder;width:70px;cursor:pointer;background:#cc0000;color:#fff;float:left;height:34px"
                           class="main"/>
                    <input type="button" value="搜全文" id="doSearch2"
                           style="font-size:14px;font-weight:bolder;width:70px;cursor:pointer;background:#0082d4;color:#fff;float:left;height:34px"
                           class="main"/>
                </form>
            </div>
        </div>
    </div>
    <!---->
    <span class="blank10"></span>{% endcomment %}

    <div class="vT_z" id="vT_bidSearch_o">
        <div class="vT_bidSearch_outsider">
            <!--选择内容-->
            {% comment %}<div class="vT_bidSearch_addon_con" style="margin-top:20px">
            <div class="vT_bidSearch_addon_block2" style="margin-left:0;float:left;"><p
                    style="vertical-align:top;margin-top:0;padding-top:0">类型</p></div>
            <div style="float:left;width:870px;height:60px">
                <ul class="vT-srch-result-channel-list2" id="searchbidTypeSel">
                    <li onclick="bidTypeSel(0)">所有类型</li>
                    <li onclick="bidTypeSel(1)">公开招标</li>
                    <li onclick="bidTypeSel(2)">询价公告</li>
                    <li onclick="bidTypeSel(3)">竞争性谈判</li>
                    <li onclick="bidTypeSel(4)">单一来源</li>
                    <li onclick="bidTypeSel(5)">资格预审</li>
                    <li onclick="bidTypeSel(6)">邀请公告</li>
                    <li onclick="bidTypeSel(7)">中标公告</li>
                    <li onclick="bidTypeSel(8)">更正公告</li>
                    <li onclick="bidTypeSel(9)">其他公告</li>
                    <li onclick="bidTypeSel(10)">竞争性磋商</li>
                    <li onclick="bidTypeSel(11)">成交公告</li>
                    <li onclick="bidTypeSel(12)">终止公告</li>
                    <li onclick="isPPP()"><img src="/static/images/ppp_off.gif" title="ppp项目" id="disPPP"></li>
                </ul>
            </div>
            <div style="clear:both"></div>
        </div>{% endcomment %}
            <!--选择内容-->
            {% comment %}<div class="vT_bidSearch_addon_con">
            <div class="vT_bidSearch_addon_block2" style="margin-left:0;float:left;"><p
                    style="vertical-align:top;margin-top:0;padding-top:15px">类别</p></div>
            <div style="float:left;width:870px;height:30px;margin-top:15px">
                <ul class="vT-srch-result-channel-list3" id="searchBidSortSel">
                    <li onclick="bidSortSel(0)">所有类别</li>
                    <li onclick="bidSortSel(1)">中央公告</li>
                    <li onclick="bidSortSel(2)">地方公告</li>
                </ul>
            </div>
            <div style="clear:both"></div>
        </div>{% endcomment %}
            <!--选择内容-->
            {% comment %}<div class="vT_bidSearch_addon_con">
            <div class="vT_bidSearch_addon_block2" style="margin-left:0;float:left;"><p
                    style="vertical-align:top;margin-top:0;padding-top:15px">品目</p></div>
            <div style="float:left;width:870px;height:30px;margin-top:15px">
                <ul class="vT-srch-result-channel-list3" id="searchPinMuSel">
                    <li onclick="pinMuSel(0)">所有品目</li>
                    <li onclick="pinMuSel(1)">货物类</li>
                    <li onclick="pinMuSel(2)">工程类</li>
                    <li onclick="pinMuSel(3)">服务类</li>
                </ul>
            </div>
            <div style="clear:both"></div>
        </div>{% endcomment %}
            <!--选择内容-->
            {% comment %}<div class="vT_bidSearch_addon_con">
            <div class="vT_bidSearch_addon_block2" style="margin-left:0;float:left;"><p
                    style="vertical-align:top;margin-top:0;padding-top:15px">时间</p></div>
            <div style="float:left;width:870px;height:30px;margin-top:15px;position:relative">
                <ul class="vT-srch-result-channel-list3" id="datesel">
                    <li onclick="timeSel(0)">今日</li>
                    <li onclick="timeSel(1)">近3日</li>
                    <li onclick="timeSel(2)">近1周</li>
                    <li onclick="timeSel(3)">近1月</li>
                    <li onclick="timeSel(4)">近3月</li>
                    <li onclick="timeSel(5)">近半年</li>
                    <li id="cusTime">指定时间</li>
                </ul>
                <div class="cusTime_container">
                    <span>指定时间</span>
                    <input type="text" name="inpCusStartTime" id="inpCusStartTime" readonly="readonly"
                           value="2022-06-10">
                    <input type="text" name="inpCusEndTime" id="inpCusEndTime" readonly="readonly"
                           value="2022-06-17">
                    <em class="dose" title="查询">查询</em>
                    <em class="clos" title="取消">取消</em>
                    <span class="inf" style="font-size:12px">查询2013年之前的公告<br>信息，请点击这里。
                        </span>
                </div>
            </div>
            <div style="clear:both"></div>
        </div>{% endcomment %}
            <!--输入内容-->
            <div class="vT_bidSearch_addon_con">
                <div class="vT_bidSearch_addon_block" style="margin-left:0">
                    <p>采购人</p>
                    <input value="" type="text" name="inpBuyerName" id="inpBuyerName">
                </div>
                <div class="vT_bidSearch_addon_block">
                    <p>项目编号</p>
                    <input value="" type="text" name="inpProjectId" id="inpProjectId">
                </div>

                <div class="vT_bidSearch_addon_block" id="zonearea">
                    <p>地区</p>
                    <input value="" type="text" name="inpDisplayZone" id="inpDisplayZone"
                           readonly="readonly">
                    <input type="hidden" name="inpZoneId" id="inpZoneId">

                    <div class="zone_list_container">
                        <ul class="zone_list" zoneId="">
                            <li>全部</li>
                            <li zoneId="11">北京</li>
                            <li zoneId="12">天津</li>
                            <li zoneId="13">河北</li>

                            <li zoneId="14">山西</li>
                            <li zoneId="15">内蒙古</li>
                            <li zoneId="21 not 2102">辽宁</li>
                            <li zoneId="2102">大连</li>
                            <li zoneId="22">吉林</li>
                            <li zoneId="23">黑龙江</li>
                            <li zoneId="31">上海</li>
                            <li zoneId="32">江苏</li>

                            <li zoneId="33 not 3302">浙江</li>
                            <li zoneId="3302">宁波</li>
                            <li zoneId="34">安徽</li>
                            <li zoneId="35 not 3502">福建</li>
                            <li zoneId="3502">厦门</li>
                            <li zoneId="36">江西</li>

                            <li zoneId="37 not 3702">山东</li>
                            <li zoneId="3702">青岛</li>
                            <li zoneId="41">河南</li>
                            <li zoneId="42">湖北</li>
                            <li zoneId="43">湖南</li>
                            <li zoneId="44 not 4403">广东</li>

                            <li zoneId="4403">深圳</li>
                            <li zoneId="45">广西</li>
                            <li zoneId="46">海南</li>
                            <li zoneId="50">重庆</li>
                            <li zoneId="51">四川</li>
                            <li zoneId="52">贵州</li>

                            <li zoneId="53">云南</li>
                            <li zoneId="54">西藏</li>
                            <li zoneId="61">陕西</li>
                            <li zoneId="62">甘肃</li>
                            <li zoneId="63">青海</li>
                            <li zoneId="64">宁夏</li>

                            <li zoneId="65">新疆</li>
                            <li zoneid="66" style="width:121px">新疆生产建设兵团</li>
                            <li zoneId="71">台湾</li>
                            <li zoneId="81">香港</li>
                            <li zoneId="82">澳门</li>
                        </ul>
                    </div>
                </div>
                <div class="vT_bidSearch_addon_block" style="margin-left:0">
                    <p>代理机构</p>
                    <input type="text" name="inpAgentName" id="inpAgentName" value="">
                </div>
                <div class="vT_bidSearch_addon_block">
                    <div style="position:relative">
                        <!--
                        <div class="code" id="checkCode" style="float:left">
                            <img onclick="javascript:loadimage();" title="换一张试试" name="randImage" id="randImage"
                                 src="//search.ccgp.gov.cn/ValidateImage">
                        </div>
                        <input style="float:left;" type="text" id="inpid" name="inpid" style="border:2px solid #ac0000"/>

                        <div style="position:absolute;width:260px;height:24px;margin-left:205px;margin-top:8px;">请输入左侧验证码
                        </div>
                        -->
                    </div>
                </div>
                <div style="clear:both"></div>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>
    <span class="blank20"></span>
    <!---->
    <div class="vT_z">
        {% comment %}<div style="width:100%;height:30px">
            <!-- something-->
            <div style="font-size:14px">
                <p style="float:left">关键字：
                    <span style="color:#c00000;font-weight:bolder"></span>

                    标题检索


                    共找到
                    <span style="color:#c00000">46559</span>
                    条内容 查询日期从
                    <span style="color:#c00000">2022-06-10</span>
                    到
                    <span style="color:#c00000">2022-06-17</span>
                </p>


                <p class="pager">
                    <script language="javascript">Pager({
                        size: 2328,
                        current: 0,
                        prefix: 'data2',
                        suffix: '.jsp&'
                    });</script>
                </p>

            </div>
        </div>{% endcomment %}


        <!---->
        <span class="blank10"></span>

        <div class="vT_z" style="position:relative">
            <div class="vT-srch-result">
                <div class="vT-srch-result-list-con2">
                    <div class="vT-srch-result-list">
                        <ul class="vT-srch-result-list-bid">
                            {% for obj in queryset %}
                                <li>
                                    <a href=""
                                       style="line-height:18px" target="_blank">
                                        {{ obj.title }}
                                        {#                                门头沟区大台街道智慧平安小区建设项目公开招标公告#}
                                    </a>
                                    {#                                2022.06.17 16:16:51#}
                                    <p></p>
                                    <span>
                                {{ obj.publish_time }}
                                        | 采购人：{{ obj.purchaser }}
                                        | 代理机构：{{ obj.agency }}
                                        <br/>
                                        <strong style="font-weight:bolder">
                                                {{ obj.announce_type }}
                                        </strong>
                                        | <a href="javascript:void(0)">{{ obj.province }}</a>
                                        | <strong style="font-weight:bolder"> </strong>
                                        | <a href="//{{ obj.host }}{{ obj.link }}" target="_blank">原文链接</a>
                                    </span>
                                </li>
                            {% endfor %}
                        </ul>
                        {% comment %}<p class="pager">
                            <script language="javascript">Pager({
                                size: 2328,
                                current: 0,
                                prefix: 'data2',
                                suffix: '.jsp&'
                            });</script>
                        </p>{% endcomment %}
                    </div>
                    <div class="vT-srch-result-page-con"></div>
                </div>
            </div>
        </div>


        <span class="blank37"></span>

        <div class="vT_nav_cp">
            <div class="vT_z">
                <style type="text/css">
                    .copyright_bl {
                        width: 960px;
                        margin: 0 auto
                    }

                    /*margin-top:20px;*/
                    .vF_cp {
                        width: 960px;
                        margin: 0 auto;
                        text-align: left;
                        float: left;
                        background: #e9e9e9;
                        color: #333;
                        height: 120px;
                        padding-top: 10px;
                    }

                    .vF_cp p {
                        width: 600px;
                        float: left;
                        margin-top: 15px;
                        font-size: 14px;
                        line-height: 26px;
                    }

                    .vF_cp span {
                        font-family: Verdana, Geneva, sans-serif;
                        font-size: 12px
                    }

                    .vF_cp a, .vT_cp a {
                        color: #333;
                        text-decoration: none
                    }

                    .vF_cp a:hover, .vT_cp a:hover {
                        text-decoration: underline;
                        color: #ba2636
                    }

                    .dzjg {
                        width: 205px;
                        height: 80px;
                        float: left;
                        margin: 14px 10px 0 130px;
                        border-right: 1px solid #c2c2c2;
                    }

                    .cpright {
                        float: left;
                        width: 570px;
                        margin-left: 15px;
                    }

                    .ccgpjiucuo {
                        width: 110px;
                        height: 55px;
                        float: left;
                        margin-left: 5px;
                        margin-top: 10px
                    }
                </style>
                {% comment %}<div class="copyright_bl">
                    <div class="vF_cp">
                        <div class="dzjg">
                            <div class="ccgpjiucuo">
                                <a href="https://zfwzgl.www.gov.cn/exposure/jiucuo.html?site_code=bm14000002&amp;url=http%3A%2F%2Fwww.ccgp.gov.cn%2F"
                                   target="_blank"><img src="//www.ccgp.gov.cn/img/jiucuo.png"></a>
                            </div>
                            <script type="text/javascript">document.write(unescape("%3Cspan id='_ideConac' %3E%3C/span%3E%3Cscript src='https://dcs.conac.cn/js/33/000/0000/60425889/CA330000000604258890010.js' type='text/javascript'%3E%3C/script%3E"));</script>
                        </div>
                        <div class="cpright">
                            <p>
                                主办单位：中华人民共和国财政部国库司 <br>网站标识码：<span>bm14000002</span> &nbsp;|&nbsp; <a
                                    href="https://beian.miit.gov.cn"
                                    target="_blank">京<span>ICP</span>备<span>19054529</span>号<span>-1</span></a>
                                &nbsp;|&nbsp; 京公网安备<span>11010602060068</span>号 <br><span
                                    id="botm_cpy">&copy; 1999-</span>
                                中华人民共和国财政部 版权所有 &nbsp;|&nbsp; <a href="//www.ccgp.gov.cn/contact.shtml"
                                                                 target="_blank">联系我们</a> &nbsp;|&nbsp; <a
                                    href="//www.ccgp.gov.cn/zxly/" target="_blank">意见反馈</a></p>
                        </div>
                    </div>
                </div>{% endcomment %}
                <script language="javascript">
                    var myDate = new Date();
                    var botmcpy = '&copy; 1999-' + myDate.getFullYear();
                    $("#botm_cpy").html(botmcpy);
                </script>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script language="javascript" src="//www.ccgp.gov.cn/images/sa.js"></script>
    <script type="text/javascript" src="/static/js/fixdiv.js"></script>
    <script type="text/javascript" src="/static/js/address.js"></script>
    <script language="javascript">
        function showd(n) {
            var uom = new Date(new Date() - 0 + n * 86400000);
            uom = uom.getFullYear() + "," + (uom.getMonth() + 1) + "," + uom.getDate();
            return uom;
        }

        var dayLT = showd(0);
        var gEndT = dayLT.split(",");
        var gEnd = gEndT[0] - 0 + "-" + gEndT[1] + "-" + gEndT[2];
        var cusStatus = '0';
        laydate({
            elem: '#inpCusStartTime',
            format: 'YYYY-MM-DD',
            festival: false,
            min: '2013-01-01',
            max: gEnd,
            choose: function (datas) {
                cusStatus = 1;
                $("#start_time").val($("#inpCusStartTime").val());
                console.log(cusStatus);
            }
        });
        laydate({
            elem: '#inpCusEndTime',
            format: 'YYYY-MM-DD',
            festival: false,
            min: '2013-01-01',
            max: gEnd,
            choose: function (datas) {
                cusStatus = 1;
                $("#end_time").val($("#inpCusEndTime").val());
                console.log(cusStatus);
            }
        });


        function DateDiff(d1, d2) {
            var day = 24 * 60 * 60 * 1000;
            try {
                var dateArr = d1.split("-");
                var checkDate = new Date();
                checkDate.setFullYear(dateArr[0], dateArr[1] - 1, dateArr[2]);
                var checkTime = checkDate.getTime();

                var dateArr2 = d2.split("-");
                var checkDate2 = new Date();
                checkDate2.setFullYear(dateArr2[0], dateArr2[1] - 1, dateArr2[2]);
                var checkTime2 = checkDate2.getTime();

                var cha = (checkTime - checkTime2) / day;
                return cha;
            } catch (e) {
                return false;
            }
        }

    </script>
{% endblock %}

