{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <div class="panel panel-success">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="change">Change</label>
                    <input type="text" class="form-control" id="change" name="change" placeholder="转换spider的数据到gov">
                </div>
                <button type="submit" class="btn btn-info">Submit</button>
                {#            <button type="button" class="btn btn-info">（一般信息）Info</button>#}
            </form>
        </div>
    </div>

{% endblock %}
